{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Important Info - Intelligence Update
{% endblock %}

{% block content %}

    <p>
        The actual sales in period {{ player.round_number}} was much lower than forecasted
        because a main customer of the chip was falsely accused of
        leaking sensitive security data to the Chinese government.
        The customer experienced canceled orders and thus had to cancel with us.
    </p>
    <p>
        It has been proven that this accusation is not true and our customer conducts
        its businesses with integrity. The customer expects to continue business as before.
    </p>
    <p>
        The model was far off the actual sales of this period as this incident was
        not anticipated. Because this incident is not supposed to affect future demand,
        this period's sales will be ignored by the model when predicting future sales.
    </p>

    {% next_button %}
{% endblock %}


