{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    {{ Constants.product_name }} - Period {{ player.round_number }}
{% endblock %}

{% block content %}
<h4>Initial Forecast</h4>
<p>
    The chart shows the historical sales data of {{ Constants.product_name }}.<br/>
</p>
       {% include 'Real/OpenChart.html' %}
<p>
    Based on the data, please enter your initial forecast for this period in the box below.
</p>
    <table class="table">
            <tr>
                <th>Your Initial Forecast</th>
                <td>{% formfield player.initial_forecast %}</td>
            </tr>


    </table>

   {% next_button %}

     {% include Constants.instructions_template %}

{% endblock %}
