{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    {{ Constants.product_name }} - Period {{ player.round_number }}
{% endblock %}

{% block content %}
<h4>Final Forecast</h4>

    <p>
    {% if player.round_number == 1 %} The chart gives an overview of the sales history and <u>past</u> model forecast.
    {% else %} The chart gives an overview of sales history, <u>past</u> model forecast and your <u>past</u> final forecast.<br/>
    {% endif %}
     </p>
    {% include 'Real/OpenChart.html' %}
    <p> The model forecast for this period is now available. Please enter your final forecast in the box. </p>
    <table class="table">
        <tr>
            <th>Model Forecast</th>
            <td>{{ forecasted }}</td>
        </tr>
        <tr>
            <th>Your Final Forecast</th>
            <td>{% formfield player.forecast_amount %}</td>
        </tr>

    </table>

    {% next_button %}

    {% include Constants.instructions_template %}

{% endblock %}
