{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Important Info - Intelligence Update
{% endblock %}

{% block content %}

    <p>
        The intelligence unit has reported the unexpected low sales in period {{ player.round_number }}
        to be caused by a major competitor's hostile actions.
    </p>
    <p>
        The competitor started to sell their chips to our major customers at prices below cost
        in order to gain market share. And therefore, our customers canceled or decreased their
        orders with us.
    </p>
    <p>
        What the competitor did was against the European Anti-Trust law and its corresponding
        business unit has been suspended for further investigation.
    </p>
    <p>
        The model was far off the actual sales of this period as this incident was not
        anticipated. Because this incident is not supposed to affect future demand, this
        period's sales will be ignored by the model when predicting future sales.
    </p>

    {% next_button %}
{% endblock %}


