{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    {{ Constants.product_name }} - Results Overview
{% endblock %}

{% block content %}
<p>
    You have finished forecasting the demand of {{ Constants.product_name }}.
</p>

    <p>
        The chart below gives an overview of past model forecast, sales and your past final forecast.
    </p>
    <p>
        Please click on next to continue.
    </p>


    {% include 'Future/OpenChart.html' %}
    {% next_button %}

{% endblock %}
