{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}

     <p>
        Thank you for participating in the decision game.
     </p>
     <p>
        In order not to affect the judgment of the colleagues that will take part in the game at a later period,
        please <strong>keep the information regarding the game (the design, the questions etc.) to yourself
         and do not share with any third person.</strong>
     </p>
     <p>
        The data collected in the game and all subsequent games will be used in my master's thesis
        to test a hypothesis.
        If you would like to know the result of the final analysis, please stay tuned for the thesis,
        which will come out at the end of April, 2018.
     </p>
     <p>
        Thank you and have a great day!
     </p>

{% endblock %}


