{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Welcome!
{% endblock %}

{% block content %}


    <h4>Welcome</h4>
     <p>
        Thank you for participating in the game.
     </p>
     <p>
        Please read the instructions on the next page carefully to make sure you understand the instructions.
        If you have any question, please notify the operator.
     </p>
     <p>
         Please <strong>do not</strong> communicate with other participants during the entire game.
     </p>
     <p>
        The game will begin with a few questions to check your understanding of the instructions.
        You will be able to continue after you have answered the questions correctly.
     </p>

        <h4>Actions Required!!</h4>

    <p>
        Please copy or take a screenshot of your URL of <u>this</u> page and save it in a file.<br/>
        Your URL should look similar to this.
    </p>
      <img src="{% static "global/URL.png" %}"/>
    <p></p>

    <p>
        In case you accidentally leave the page later in the game,
        please send the URL to the operator and wait for further instructions.<br/>
    </p>




    {% next_button %}

{% endblock %}

