{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Welcome!
{% endblock %}

{% block content %}


    <h4>Welcome</h4>
     <p>
        Thank you for participating in the game.
     </p>
     <p>
        Please read the instructions on the next page carefully to make sure you understand the instructions.
        If you have any question, please notify the operator.
     </p>
     <p>
         Please <strong>do not</strong> communicate with other participants during the entire game.
     </p>
     <p>
        The game will begin with a few questions to check your understanding of the instructions.
        You will be able to continue after you have answered the questions correctly.
     </p>

        <h4>Actions Required!!</h4>

    <p>Please note down your participant ID in the URL of this page.</p>
      <img src="{% static "global/LinkRecovery.png" %}"/>
    <p></p>
    <p>Either take a screenshot or write it down on a piece of paper</p>
    <p>
        In case you accidentally leave the page later in the game,
        please inform the operator your participant ID
        and wait for further instructions.
    </p>



    {% next_button %}

{% endblock %}

