{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Period {{ player.round_number }}
{% endblock %}

{% block content %}
<h4>Final Forecast</h4>
    <p>
        Please see below for the model's forecast for this period.
    </p>
    <p>
        The chart is updated with historical sales, historical model forecast and your past final forecast, if any.<br/>
        Please enter your final forecast for this period in the box below.
    </p>

    <table class="table">
        <tr>
            <th>Your Initial Forecast</th>
            <td>{{ player.initial_forecast }}</td>
        </tr>
        <tr>
            <th>Model Forecast</th>
            <td>{{ forecasted }}</td>
        </tr>
        <tr>
            <th>Your Final Forecast</th>
            <td>{% formfield player.forecast_amount %}</td>
        </tr>

    </table>


    {% include 'Now/OpenChart.html' %}
    {% next_button %}

{% endblock %}
